<span id="watchers-advanced" style="display:none;">
  An awesome watchers plugin goes here.
</span>

<script type="text/javascript">
  // adjust position after DOM has loaded. requires jquery (redmine >= 2.1)
  $(document).ready(function() {
	  $("#watchers-advanced").show().appendTo($("#watchers_form"));
  });
</script>
